@model DataModel.PublisherModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
@if (Model.BoardGames.Count() > 0)
{
        <h3>By deleting this publisher you will be deleting..</h3>

    <br />

    foreach (var b in Model.BoardGames)
    {
                <li>b.Name</li>
    }

}
<br /><br />
<div>
    <h4>PublisherModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
