@model DataModel.PublisherModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h1>@Model.Name</h1>
<br />
@if (Model.BoardGames.Count() > 0)
{
    @foreach (var item in Model.BoardGames)
    {

        <li>BoardGame: @item.Name</li>
    }
}
else
{
    <h4>No Boardgames for this publisher</h4>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>